#main .profile-card {
    text-align: center;
    font-family: Arial, sans-serif;
}

#main .circle-crop {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}



/* Name styling */
.profile-info .name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Color of your choice */
}

/* Title styling */
.profile-info .title {
    font-size: 1.2rem;
    color: #555; /* Secondary color */
    font-weight: 600;
    margin: 0; /* Remove additional padding */
}



h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
    border-bottom: solid 1px #ffffff;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -ms-max-content;
    width: max-content;
    padding-bottom: 0.5rem;
    margin: 0 0 2rem 0;
}


.major:hover {
    transform: scale(1.1); /* Slightly enlarge the image on hover */
}